<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InozeArt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/cf09742b69.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <%- include('../../navbar.ejs') %>

    <section class="hero is-info is-fullheight has-background-grey-lighter">
      <div class="hero-body has-background-grey-darker">
        <div class="container is-fluid">
          <div class="tile is-ancestor">
           <div class="tile is-3 is-parent">
             <div class="tile is-child box">
               
             </div>
           </div>
           <div class="tile is-3 is-parent">
             <div class="tile is-child box">
              
             </div>
           </div>
           <div class="tile is-3 is-parent">
             <div class="tile is-child box">
             
             </div>
           </div>
           <div class="tile is-3 is-parent">
            <div class="tile is-child box">
            
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../footer.ejs') %>
  </body>

</html>
