<nav class="navbar has-background-grey" role="navigation">
  <div class="navbar-brand">
      <img src="./assets/logo.png" width="96" height="96">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-black" href="/">
        Acceuil
      </a>
      <a href="/portfolio" class="navbar-item has-text-black">
        Mon Portfolio
      </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/objets" class="navbar-link has-text-black">
            Tous les objets
          </a>
          <div class="navbar-dropdown">
            <a href="/objets/chaussures" class="navbar-item has-text-black">
              Chaussures
            </a>
            <a href="/objets/glasspaint" class="navbar-item has-text-black">
             Peintures sur verre
            </a>
            <a href="/objets/toiles" class="navbar-item has-text-black">
              Toiles
            </a>
            <a href="/objets/vinyles" class="navbar-item has-text-black">
              Vinyles
            </a>
            <a href="/objets/coques" class="navbar-item has-text-black">
              Coques de téléphone
            </a>
            <a href="/objets/aquarelles" class="navbar-item has-text-black">
              Aquarelles
            </a>
            <hr class="navbar-divider">
            <a href="/objets/tous" class="navbar-item has-text-black">
              Tous
            </a>
          </div>
      </div>
      <a href="/contact" class="navbar-item has-text-black">
        Contact
      </a>
      <a href="/about" class="navbar-item has-text-black">
        À propos
      </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <a class="navbar-item has-text-warning">
        <strong>En développement --></strong>
      </a>
      <div class="buttons">
        <a class="button is-primary">
          <strong>S'enregistrer</strong>
        </a>
        <a class="button is-light">
          Se connecter
        </a>
      </div>
    </div>
  
</nav>
